/** public style **/
.float_left{
	float: left;
}
.float_right{
	float: right;
}
.block{
	display: block;
}

/** public style end **/
.main_content{
	width: 80%;
	margin: 0 auto;
}
.content_top{
	overflow: hidden;
	margin-top: 34px;
	border-bottom: 1px solid #D8D8D8;
}
.content_top p:nth-child(1){
	border-bottom: 3px solid #4C96E9;
	font-weight: bold;
	font-family: PingFangSC-Regular;
	font-size: 24px;
	color: #000000;
	padding-bottom: 8px;
	margin-left: 5px;
}
.content_top>span{
	font-family: PingFangSC-Regular;
	font-size: 14px;
	line-height: 44px;
}
.content_top .location{
	font-family: PingFangSC-Regular;
	font-size: 16px;
	color: #999999;
	margin-right: 7px;
	line-height: 44px;
}
.content_top .location span{
	font-family: PingFangSC-Regular;
	font-size: 16px;
	color: #4C96E9;
	line-height: 22px;
}
.content_top p>img{
	width: 20px;
	height: 20px;
	margin-right: 3px;
    margin-bottom: -4px;
}
.content_middle{
	overflow: hidden;
}
.content_left{
	float: left;
	width: 15%;
	margin-right: 5%;
	margin-top: 30px;
}
.nav_list span{
	text-align: center;
	line-height: 50px;
	display: block;
	height: 50px;
	background-image: linear-gradient(-180deg, #1EB6EC 0%, #0055B6 100%);
	border-radius: 0 6px 0 0;
	font-family: PingFang-SC-Medium;
	font-size: 18px;
	color: #FFFFFF;
}
.nav_list li{
	text-align: center;
	line-height: 40px;
	font-size: 16px;
	height: 40px;
	background: #FFFFFF;
	border: 1px solid #D6D7DC;
	border-top: none;
}
.nav_list li a{
	color: #999999;
}
.nav_list .selected a{
	color: #006CCA;
}


.content_right{
	width: 80%;
	margin-top: 30px;
	float: left;
}
.content_page{
	width: 100%;
}
input{
	font-size: 16px;
	padding-left: 5px !important;
}
textarea{
	font-size: 16px;
	line-height: 20px;
}

/** before is the summary css **/

.page_zhifubao{
	margin-bottom: 130px;
}

.content_right .content_page .page_summary{
	border-bottom: 1px solid #D8D8D8;
	font-family: PingFangSC-Regular;
	font-size: 20px;
	color: #000000;
	padding-bottom: 5px;
	margin-top: 0;
}

.content_page p{
	margin-top: 20px;
}
.img_contain{
	margin: 30px 0;
}
.img_contain img{
	width: 369px;
	height: 521px;
	margin-left: 30px;
}

.address_detail{
	width: 93%;
	overflow: hidden;
	padding: 37px 0 38px 41px;
	border: 1px solid #D8D8D8;
	margin-top: 30px;
}
.address_detail:hover{
    box-shadow: 3px 6px 14px 0px #666666
}
.top_forty{
	margin-top: 36px;
}
.address_detail .address_show{
	float: left;
	display: block;
}
.address_detail .tel_show{
	float: left;
	margin-left: 100px;
	display: block;
}
.address_detail img{
	width: 20px;
	height: 20px;
	display: block;
	float: left;
	margin-right: 10px;
	margin-top: 1px;
}
.address_detail>.address_title{
	overflow: hidden;
	font-family: PingFangSC-Regular;
	font-size: 16px;
	color: #000000;
	display: block;
	margin-bottom: 20px;
}
.address_detail div>span{
	font-family: PingFangSC-Regular;
	font-size: 16px;
	color: #666666;
}






