/** public style **/
.float_left{
	float: left;
}
.float_right{
	float: right;
}
.block{
	display: block;
}

/** public style end **/
.main_content{
	width: 80%;
	margin: 0 auto;
}
.content_top{
	overflow: hidden;
	margin-top: 34px;
	border-bottom: 1px solid #D8D8D8;
}
.content_top p:nth-child(1){
	border-bottom: 3px solid #4C96E9;
	font-weight: bold;
	font-family: PingFangSC-Regular;
	font-size: 24px;
	color: #000000;
	padding-bottom: 8px;
	margin-left: 5px;
}
.content_top>span{
	font-family: PingFangSC-Regular;
	font-size: 14px;
	line-height: 44px;
}
.content_top .location{
	font-family: PingFangSC-Regular;
	font-size: 16px;
	color: #999999;
	margin-right: 7px;
	line-height: 44px;
}
.content_top .location span{
	font-family: PingFangSC-Regular;
	font-size: 16px;
	color: #4C96E9;
	line-height: 22px;
}
.content_top p>img{
	width: 20px;
	height: 20px;
	margin-right: 3px;
    margin-bottom: -4px;
}
.content_middle{
	overflow: hidden;
}
input{
	font-size: 16px;
	padding-left: 5px !important;
}
textarea{
	font-size: 16px;
	line-height: 20px;
}

.page_content{
	width: 96%;
	margin: 0 auto;
}
.page_top{
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}
.page_summary{
	overflow: hidden;
	display: inline-block;
}
.page_summary li{
	display: block;
	float: left;
	background-image: linear-gradient(-180deg, #FFFFFF 20%, #E4E4E4 100%);
	border: 1px solid #D8D8D8;
	width: 150px;
	height: 36px;
	line-height: 36px;
	text-align: center;
}
.page_summary li a{
	font-family: PingFangSC-Regular;
	font-size: 16px;
	color: #000000;
}
.page_summary .selected{
	background-image: linear-gradient(-180deg, #4CBBE9 0%, #0959B3 100%);
	
}
.page_summary .selected a{
	font-family: PingFangSC-Regular;
	font-size: 16px;
	color: #FFFFFF;
}


/** before is the summary css **/

.water_report{
	margin-bottom: 120px;
}
.report_title{
	text-align: center;
	font-family: PingFangSC-Regular;
	font-size: 24px;
	color: #000000;
	margin-bottom: 50px;
}
.report_table{
	margin: 0 auto;
	width: 95%;
	border-right: 1px solid #D6D7DC;
	border-bottom: 1px solid #D6D7DC;
}
.report_table tr td{
	text-align: center;
	border-top: 1px solid #D6D7DC;
	border-left: 1px solid #D6D7DC;
	height: 40px;
	font-family: PingFangSC-Regular;
	font-size: 16px;
	color: #666666;
}
.report_table tr th{
	text-align: center;
	border-top: 1px solid #D6D7DC;
	border-left: 1px solid #D6D7DC;
	font-family: PingFangSC-Regular;
	font-size: 16px;
	color: #000000;
	height: 40px;
}
.page_middle .report_table .align_center th{
	text-align: center;
	padding: 0;
	width: 25%;
}
.report_table tr th:nth-child(1){
	width: 30%;
	text-align: left;
	padding-left: 45px;
}
.report_table tr th:nth-child(2){
	width: 20%;
	text-align: left;
	padding-left: 45px;
}
.report_table tr td:nth-child(1){
	text-align: left;
	padding-left: 45px;
}
.report_table tr td:nth-child(2){
	text-align: left;
	padding-left: 45px;
}


.kno_para{
	margin-bottom: 50px;
}
.kno_para>p{
	text-indent: 30px;
	font-family: PingFangSC-Regular;
	font-size: 16px;
	color: #2A2A2A;
	letter-spacing: 0;
	line-height: 36px;
}
.kno_para>.para_list{
	padding-left: 30px;
	text-indent: 0;
}
.kno_para>.para_title{
	font-family: PingFangSC-Regular;
	font-size: 18px;
	color: #000000;
	letter-spacing: 0;
	line-height: 36px;
}

.page_middle{
	padding-bottom: 120px;
}
.page_middle .page_summary{
	display: block;	
	border-bottom: 1px solid #D8D8D8;
	font-family: PingFangSC-Regular;
	font-size: 20px;
	color: #000000;
	padding-bottom: 5px;
	margin-top: 50px;
	margin-bottom: 56px;
}
.page_middle .pic_title{
	text-align: center;
	display: block;
	font-family: PingFangSC-Regular;
	font-size: 24px;
	color: #000000;
	letter-spacing: 0;
	margin-bottom: 50px;
}
.supply_promtp li{
	margin-top: 30px;
}
.supply_promtp li:before{
	margin-right: 5px;
	content: "●";
	color:  #4C96E9;
}





